<div class="app-menu navbar-menu">
    <!-- LOGO -->
    <partial name="Partials/_AppMenuLogo"></partial>

    <div id="scrollbar">
        <partial name="Partials/_AppMenuSidebar"></partial>
        <!-- Sidebar -->
    </div>

    <div class="sidebar-background"></div>
</div>