<div class="container-fluid">
    <div id="two-column-menu">
    </div>
    <ul class="navbar-nav" id="navbar-nav">
        <li class="menu-title">
            <span data-key="t-menu">Menu</span>
        </li>
        <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarGames" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="sidebarGames">
                <i class="ri-game-line"></i> <span data-key="t-games">Games</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarGames">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="/games" class="nav-link" data-key="t-game-list">
                            Game List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="game-details.html" class="nav-link" data-key="t-game-details">
                            Game Details
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="/games/create-game" class="nav-link" data-key="t-create-game">
                            Create Game
                        </a>
                    </li>
                </ul>
            </div>
        </li> <!-- end Games Menu -->

        <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarFunctions" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="sidebarFunctions">
                <i class="ri-function-line"></i> <span data-key="t-functions">Functions</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarFunctions">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="functions-list.html" class="nav-link" data-key="t-function-list">
                            Function List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="function-create.html" class="nav-link" data-key="t-create-function">
                            Create Function
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="function-execute.html" class="nav-link" data-key="t-execute-function">
                            Execute Function
                        </a>
                    </li>
                </ul>
            </div>
        </li> <!-- end Functions Menu -->

        <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarNotifications" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="sidebarNotifications">
                <i class="ri-notification-line"></i> <span data-key="t-notifications">Notifications</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarNotifications">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="notifications-list.html" class="nav-link" data-key="t-notification-list">
                            Notification List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="notification-templates.html" class="nav-link" data-key="t-notification-templates">
                            Notification Templates
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="notification-settings.html" class="nav-link" data-key="t-notification-settings">
                            Notification Settings
                        </a>
                    </li>
                </ul>
            </div>
        </li> <!-- end Notifications Menu -->

        <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarUsers" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="sidebarUsers">
                <i class="ri-user-line"></i> <span data-key="t-users">Users</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarUsers">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="users-list.html" class="nav-link" data-key="t-user-list">
                            User List
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="user-details.html" class="nav-link" data-key="t-user-details">
                            User Details
                        </a>
                    </li>
                </ul>
            </div>
        </li> <!-- end Users Menu -->

        <li class="nav-item">
            <a class="nav-link menu-link" href="#sidebarLogs" data-bs-toggle="collapse" role="button"
               aria-expanded="false" aria-controls="sidebarLogs">
                <i class="ri-book-2-line"></i> <span data-key="t-logs">Logs</span>
            </a>
            <div class="collapse menu-dropdown" id="sidebarLogs">
                <ul class="nav nav-sm flex-column">
                    <li class="nav-item">
                        <a href="logs-activity.html" class="nav-link" data-key="t-activity-logs">
                            Activity Logs
                        </a>
                    </li>
                    <li class="nav-item">
                        <a href="logs-errors.html" class="nav-link" data-key="t-error-logs">
                            Error Logs
                        </a>
                    </li>
                </ul>
            </div>
        </li> <!-- end Logs Menu -->
    </ul>
</div>