@page "/register"
@model GameCloud.Dashboard.Pages.Auths.RegisterModel

@{
    ViewData["Title"] = "Register";
    Layout = "_AuthLayout";
}

<div class="row justify-content-center">
    <div class="col-md-8 col-lg-6 col-xl-5">
        <div class="card mt-4 card-bg-fill">
            <div class="card-body p-4">
                <div class="text-center mt-2">
                    <h5 class="text-primary">Create an Account</h5>
                    <p class="text-muted">Sign up to get started with Game Cloud.</p>
                </div>
                <form method="post" class="p-2 mt-4">
                    <div class="mb-3">
                        <label asp-for="RegisterRequest.Name" class="form-label">Full Name</label>
                        <input asp-for="RegisterRequest.Name" class="form-control" placeholder="Enter your full name">
                        <span asp-validation-for="RegisterRequest.Name" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="RegisterRequest.Email" class="form-label">Email</label>
                        <input asp-for="RegisterRequest.Email" class="form-control" placeholder="Enter your email">
                        <span asp-validation-for="RegisterRequest.Email" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="RegisterRequest.Password" class="form-label">Password</label>
                        <input asp-for="RegisterRequest.Password" type="password" class="form-control" placeholder="Enter password">
                        <span asp-validation-for="RegisterRequest.Password" class="text-danger"></span>
                    </div>

                    <div class="mb-3">
                        <label asp-for="RegisterRequest.ConfirmPassword" class="form-label">Confirm Password</label>
                        <input asp-for="RegisterRequest.ConfirmPassword" type="password" class="form-control" placeholder="Confirm your password">
                        <span asp-validation-for="RegisterRequest.ConfirmPassword" class="text-danger"></span>
                    </div>

                    <div class="mt-4">
                        <button class="btn btn-primary w-100" type="submit">Sign Up</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="mt-4 text-center">
            <p class="mb-0">Already have an account? <a asp-page="./Login" class="fw-semibold text-primary text-decoration-underline">Sign In</a></p>
        </div>
    </div>
</div>

@* *@
@* @section Scripts { *@
@* <partial name="_ValidationScriptsPartial" /> *@
@* } *@