<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body py-5">
                <div class="text-center">
                    <div class="avatar-lg mx-auto mb-4">
                        <div class="avatar-title bg-primary-subtle text-primary rounded-circle fs-24">
                            <i class="ri-gamepad-line"></i>
                        </div>
                    </div>
                    <h5>No Matchmaking Queues Found</h5>
                    <p class="text-muted mb-4">
                        Create your first matchmaking queue to get started with
                        multiplayer!
                    </p>
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                            data-bs-target="#createQueueModal">
                        <i class="ri-add-line align-bottom me-1"></i> Create Queue
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>